<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="virgil:AppBundleID" value="%APPLICATION_BUNDLE_ID%" />
    <add key="virgil:AppAccessToken" value="%APPLICATION_ACCESS_TOKEN%" />
    <add key="virgil:AppPublicKey" value="%APPLICATION_PUBLIC_KEY%" />
    <add key="virgil:AppPrivateKey" value="%APPLICATION_PRIVATE_KEY%" />
    <add key="virgil:AppPrivateKeyPassword" value="%APPLICATION_PRIVATE_KEY_PASSWORD%" />
    <add key="virgil:IdentityServiceAddress" value="https://identity.virgilsecurity.com" />
    <add key="virgil:PrivateServicesAddress" value="https://keys-private.virgilsecurity.com" />
    <add key="virgil:PublicServicesAddress" value="https://keys.virgilsecurity.com" />
    <add key="mailinator:AuthToken" value="%MAILINATOR_ACCESS_TOKEN%" />
    <add key="mailinator:APIUrl" value="https://api.mailinator.com/api/" />
  </appSettings>
</configuration>