<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
    <add key="virgil:AppAccessToken" value="eyJpZCI6IjAwNDE1N2E5LWZhMDYtNDk3Ni1hYTc5LTMyNWY1MTc1NTUxNyIsImFwcGxpY2F0aW9uX2NhcmRfaWQiOiI4YTMyMTUwZC0xN2QwLTRlMjMtYjlkZi01MWQ0ZjBmMTZlMGMiLCJ0dGwiOi0xLCJjdGwiOi0xLCJwcm9sb25nIjowfQ==.MFgwDQYJYIZIAWUDBAICBQAERzBFAiEAnGthjEJU1RNfN84AHr+twoM95hXg80WjOVPb8j5EyW4CIA601Qb7nz7wCYIQEigg5XyZtv1a9m78uMq1VFnF82vN" />
    <add key="virgil:AppPublicKey" value="LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFRnlpdyswU1Bnam9tNGNTdHIxeG9oNXZLMkR3RApjRVByV0c4REkxMWl0aWtEMXNrV1VLalhIZ1NoNlk3aGNNRk5iZEZndU04ZUQvR2tTVlUxajArZUJRPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==" />
    <add key="virgil:AppPrivateKey" value="LS0tLS1CRUdJTiBFTkNSWVBURUQgUFJJVkFURSBLRVktLS0tLQpNSUh5TUYwR0NTcUdTSWIzRFFFRkRUQlFNQzhHQ1NxR1NJYjNEUUVGRERBaUJCQUFOUUE1OHhHeGxjUFcyMXJYCk9sbGpBZ0lVblRBS0JnZ3Foa2lHOXcwQ0NqQWRCZ2xnaGtnQlpRTUVBU29FRUF2L1JFOFFQY2xlVy94MlN5bmkKcVVFRWdaQnhmb3l2UWg4TWl0RkZzTjFWU3QwUzVTSU5heGhGOE9IUjltUWJWZWYza1lHUm1paGxiU2NYaHZ5ZgpJYWVSUjBzSytBSEdBNkJJSHNST0dWUWx5dmsvYkZqNjlTcHR5dURjV1c0MHNZc1ZkbURGcnA3bENqdkhveG1XCmhnSVdSM2ZjMFRKTVV2M0RDeW5JTzgxUFgxZTloOFNGSytpL21XZW1LMmdPcVNPSG55RmI3VGd4SU1qcDlwaGcKeWRJaUdwRT0KLS0tLS1FTkQgRU5DUllQVEVEIFBSSVZBVEUgS0VZLS0tLS0K" />
    <add key="virgil:AppPrivateKeyPassword" value="z13x24" />
    
    <add key="virgil:IdentityServiceAddress" value="https://identity-stg.virgilsecurity.com" />
    <add key="virgil:PrivateServicesAddress" value="https://keys-private-stg.virgilsecurity.com" />
    <add key="virgil:PublicServicesAddress" value="https://keys-stg.virgilsecurity.com" />
    
    <add key="mailinator:AuthToken" value="3b0f46370d9f44cb9b5ac0e80dda97d7" />
    <add key="mailinator:APIUrl" value="https://api.mailinator.com/api/" />
  </appSettings>-->
  <appSettings>
    <add key="virgil:AppBundleID" value="com.denzil.sdk-tests-new" />
    <add key="virgil:AppAccessToken" value="eyJpZCI6ImU0ZWJkYWQzLWMxMTMtNGY3MC05MTgzLWRmNjVmNmU3NzQwNSIsImFwcGxpY2F0aW9uX2NhcmRfaWQiOiJjZjBiNDcyZS05NmE5LTQ3YzAtYWRlYy1mYzlhNDhmNjU1OTUiLCJ0dGwiOi0xLCJjdGwiOi0xLCJwcm9sb25nIjowfQ==.MFgwDQYJYIZIAWUDBAICBQAERzBFAiEAgXg9kKdRjd0fRgTrvIpPFmc70pz8dTkLYG/+LaE/WtYCIBWhVxdbcKD7N/a/cvwQ7c9nlP7JNl/GU+jWLwbpOMnn" />
    <add key="virgil:AppPublicKey" value="LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1Ga3dFd1lIS29aSXpqMENBUVlJS29aSXpqMERBUWNEUWdBRUtvcUo0eS9NQWJQczFvMWRpemhZWXp5ek5zU3INCi9wWFVXTndlTkJ0K1hxeVFuREZ0MWl1Mjc3dDhLSWdKL2NOdXVrYWdZNmQ1bnJ4cmhEdk9Ud0VoTnc9PQ0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t" />
    <add key="virgil:AppPrivateKey" value="LS0tLS1CRUdJTiBFTkNSWVBURUQgUFJJVkFURSBLRVktLS0tLQ0KTUlIeU1GMEdDU3FHU0liM0RRRUZEVEJRTUM4R0NTcUdTSWIzRFFFRkREQWlCQkNYcXJrSWYwY3NJdDNORGxUdQ0KRUdxdEFnSWVZVEFLQmdncWhraUc5dzBDQ2pBZEJnbGdoa2dCWlFNRUFTb0VFSWdBeVdBVlQrOEF4RjhlNVJ4RA0KVlNJRWdaQ3JVSElKbXZUWDlPZDhQRU4zVGU5Z2RqMmo5UW5KdHU1b1pmZ01wa29sSCtzd3FyQk5lWm5wVmVHdA0KV1JkOTVqcFRnWUw5NWptcjdPWlg3S2l4cUVRQllTZXNidmorMkpWcXFGaEMrTWdNVDlQRzhuenpEblU0c1IxNw0KRSsraDRXeXM4c2JlQzA4L0RYeitCUDRGSjVoRFhjQkQ4T3owZDhlZWg3aDg1WVdnOEg5QkNNV1l5a3NUSnJwaw0KM1FJSWVqdz0NCi0tLS0tRU5EIEVOQ1JZUFRFRCBQUklWQVRFIEtFWS0tLS0t" />
    <add key="virgil:AppPrivateKeyPassword" value="z13x24" />

    <add key="virgil:IdentityServiceAddress" value="https://identity.virgilsecurity.com" />
    <add key="virgil:PrivateServicesAddress" value="https://keys-private.virgilsecurity.com" />
    <add key="virgil:PublicServicesAddress" value="https://keys.virgilsecurity.com" />

    <add key="mailinator:AuthToken" value="3b0f46370d9f44cb9b5ac0e80dda97d7" />
    <add key="mailinator:APIUrl" value="https://api.mailinator.com/api/" />
  </appSettings>
</configuration>