<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="virgil:AppID" value="%APP_ID%" />
    <add key="virgil:AppAccessToken" value="%APP_ACCESS_TOKEN%" />
    <add key="virgil:AppKeyPath" value="%APP_KEY_PATH%" />
    <add key="virgil:AppKeyPassword" value="%APP_KEY_PASSWORD%" />
    <add key="virgil:IdentityServiceAddress" value="https://identity.virgilsecurity.com" />
    <add key="virgil:CardsServicesAddress" value="https://cards.virgilsecurity.com" />
    <add key="virgil:RAServicesAddress" value="https://ra.virgilsecurity.com" />
    <add key="virgil:CardsReadServicesAddress" value="https://cards-ro.virgilsecurity.com" />
    <add key="virgil:ServiceCardId" value="%SERVICE_CARD_ID%" />
    <add key="virgil:ServicePublicKeyDerBase64" value="%SERVICE_PUBLIC_KEY_DER_BASE64%" />
    <add key="mailinator:AuthToken" value="%MAILINATOR_ACCESS_TOKEN%" />
    <add key="mailinator:APIUrl" value="https://api.mailinator.com/api/" />
  </appSettings>
</configuration>