<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="virgil:AppID" value="edec52e71ebb32f639332243bacdaaa0ee19ab171f9755e1b20fb1e9a804b5dc" />
    <add key="virgil:AppAccessToken" value="AT.27266235ea13a8dc1762a882819e28b96f2cfe2eeb013863deb1e345dd63212a" />
    <add key="virgil:AppKeyPath" value="C:\Users\kuril\Desktop\stg-sdk-test-v4.virgilkey" />
    <add key="virgil:AppKeyPassword" value="z13x24" />
    <add key="virgil:IdentityServiceAddress" value="https://identity-stg.virgilsecurity.com" />
    <add key="virgil:CardsServicesAddress" value="https://cards-stg.virgilsecurity.com" />
    <add key="virgil:CardsReadServicesAddress" value="https://cards-stg.virgilsecurity.com" />
    <add key="mailinator:AuthToken" value="%MAILINATOR_ACCESS_TOKEN%" />
    <add key="mailinator:APIUrl" value="https://api.mailinator.com/api/" />
  </appSettings>
</configuration>