<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="20.0.2" targetFramework="net45" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
  <package id="GitHubClient" version="1.0.15" targetFramework="net45" />
  <package id="Microsoft.CodeCoverage" version="1.0.3" targetFramework="net45" />
  <package id="Microsoft.NET.Test.Sdk" version="15.5.0" targetFramework="net45" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.5.0" targetFramework="net45" />
  <package id="NBuilder" version="5.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net47" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net45" />
  <package id="PCLAppConfig" version="0.3.4" targetFramework="net461" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net47" />
  <package id="Virgil.Crypto" version="2.3.0" targetFramework="net461" />
  <package id="Virgil.CryptoAPI" version="1.0.0" targetFramework="net461" />
  <package id="Virgil.CryptoImpl" version="1.0.0.0" targetFramework="net461" />
</packages>