<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="22.1.2" targetFramework="net451" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net451" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.1" targetFramework="net451" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net451" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net451" requireReinstallation="true" />
  <package id="NUnit" version="3.10.1" targetFramework="net451" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net451" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net451" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net451" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net451" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net451" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net451" />
  <package id="NUnit.Runners" version="3.8.0" targetFramework="net451" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net451" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net451" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net451" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net451" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net451" />
  <package id="System.IO" version="4.3.0" targetFramework="net451" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Linq" version="4.3.0" targetFramework="net451" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net451" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net451" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net451" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net451" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net451" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net451" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net451" />
  <package id="System.Threading" version="4.3.0" targetFramework="net451" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net451" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net451" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net451" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net451" />
  <package id="Virgil.Crypto" version="2.4.4.1" targetFramework="net451" />
  <package id="Virgil.CryptoAPI" version="1.0.1" targetFramework="net451" />
</packages>