<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="virgil:AppID" value="11" />
    <add key="virgil:AccountID" value=""/>
    <add key="virgil:AppAccessToken" value="" />
    <add key="virgil:AppKeyPassword" value="" />
    <add key="virgil:CardsServicesAddressV5" value="" />
    <add key="virgil:AppPrivateKeyBase64" value="" />
    <add key="virgil:ApiPrivateKeyBase64" value=""/>

  </appSettings>
</configuration>
