<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="virgil:AppID" value="5a2a6cb49c5840000119a8f9" />
    <add key="virgil:AccountID" value="5a2a6c97cae462000191a2fb" />
    <add key="virgil:IdentityServiceAddress" value="https://identity-stg.virgilsecurity.com" />
    <add key="virgil:CardsServicesAddress" value="https://cards-stg.virgilsecurity.com" />
    <add key="virgil:RAServicesAddress" value="https://ra-stg.virgilsecurity.com" />
    <add key="virgil:AuthServicesAddress" value="https://auth-stg.virgilsecurity.com" />
    <add key="virgil:CardsReadServicesAddress" value="https://cards-ro-stg.virgilsecurity.com" />
    <add key="virgil:ServiceCardId" value="e680bef87ba75d331b0a02bfa6a20f02eb5c5ba9bc96fc61ca595404b10026f4" />
    <add key="virgil:ServicePublicKeyDerBase64" value="MCowBQYDK2VwAyEA8jJqWY5hm4tvmnM6QXFdFCErRCnoYdhVNjFggffSCoc=" />
    <add key="virgil:AppPrivateKeyBase64" value="MC4CAQAwBQYDK2VwBCIEIIv9+4k+BqkIc23Q18M5xQbR7Ll05r1rD1ID5x03I//P" />
    <add key="virgil:ApiPrivateKeyBase64" value="MC4CAQAwBQYDK2VwBCIEIG3GPR712twIj2KbHTjX7YFmJubsk44cehjUy9HbCok/" />
    <add key="mailinator:AuthToken" value="%MAILINATOR_ACCESS_TOKEN%" />
    <add key="virgil:CardsServicesAddressV5" value="https://api-dev.virgilsecurity.com" />

    <add key="mailinator:APIUrl" value="https://api.mailinator.com/api/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
